:root {
    --dark: #242331;
    --dark2: #171620;
    --fontwhite: #dee0e6;
    --mainColor: rgb(44,112, 163);
    --mainColorShadow: 	hsla(205, 57%, 25%, 0.342);
    --mainColor2: rgb(84, 58, 180);
}
::-webkit-scrollbar {
    width: 7.5px;
}
::-webkit-scrollbar-track {
    border: 5px solid #232943;
    box-shadow: inset 0 0 2.5px 2px var(--mainColor);
}
::-webkit-scrollbar-thumb {
    background: var(--mainColor);
    border-radius: 0.2em;
}
::selection {
    background-color: var(--mainColorShadow);
}
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    font-family: 'PT Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    color: var(--fontwhite) !important;
}
.userContentInner, .bgDiv {
    background-color: var(--dark2) !important;
    color: var(--fontwhite) !important;
}
.userButtons {
    box-shadow: 0px 0px 20px var(--mainColorShadow);
}
.learnMoreBtn {
    display: none;
}
.edubarProfilebox {
    border-radius: 1em;
    background: none;
    transition: 0.2s;
}
.edubarProfilebox:hover {
    background-color: var(--mainColorShadow);
}
.userButtons li {
    background-color: var(--dark) !important;
}
.userHomeEtest .userButtons > li.eb {
	background: transparent;
}
.userHomeEtest .userButtons > li.eb a[data-id="dailyplan"] {
	margin-bottom: 2px;
    border-bottom: 2px solid var(--dark2);
}
.userHomeEtest .userButtons > li.eb a {	
	background-color: var(--dark) !important;
}
.userHomeEtest .userButtons > li a {
    background-color: var(--dark) !important;
    transition: 0.1s;
}
.userHomeEtest .userButtons > li a:hover {
	background-color: var(--dark) !important;
    box-shadow: inset 0px 0px 2px var(--mainColor);
}
.userTopDiv {
    background-color: var(--dark2);
    border-bottom: var(--dark2);
}
.userHomeOther {
    background-color: var(--dark2) !important;
}
.user-novyPrvok {
    background-color: var(--dark2) !important;
}
.userRozvrh .rozvrh .selected {
    background-color: var(--mainColorShadow) !important;
}
.edubarSidebar, .etestEnabled {
    background-color: var(--dark);
    color: var(--fontwhite) !important;
}
.edubarMenuitem .edubarSmartLink span {
    color: var(--fontwhite) !important;
}
.edubarMenuitem a span {
    color: var(--fontwhite) !important;
}
.edubarstart-main {
    background-color: var(--dark2) !important;
}
.edubarstart-header {
    background-color: var(--dark2) !important;
    opacity: 100%;
    margin-bottom: 0px;
}
.edubarstart-tabs-outer {
    background-color: var(--dark) !important;
}
.edubarstart-inner {
    background-color: var(--dark) !important;
}
.edubarstart-tabs-outer > * {
    border-radius: 0.5em;
}
h1,h2,h3 {
    color: var(--fontwhite) !important;
}
.edubarStartButtonBox {
    border-radius: 1em;
    box-shadow:10px 10px 30px var(--dark2);
    background-color: var(--dark);
}
.edubarstart-tab, .edubarstart-tab-content-inner {
    padding-left: 20px;
    padding-top: 20px;
}
.edubarHeader {
    background-color: var(--dark);
    box-shadow: 0px 7.5px 20px var(--mainColorShadow);
}
ul.edubarMenulist.level0 > li:hover > a, ul.edubarMenulist.level0 > li.v2:hover > a {
    text-decoration: none;
    background-color: var(--mainColorShadow);
    color: var(--dark);
    border-top: 1px solid var(--mainColor);
    border-bottom: 1px solid var(--mainColor);
}
.edubarMenulist, .level1 {
    background-color: var(--dark2) !important;
    color: var(--fontwhite);
    border-radius: 0.5em;
    border: none !important;
}
.edubarMenulist .callout {
    background-color: var(--dark2) !important;
    display: none;
}
.edubarMenuitem .edubarMenulist {
    box-shadow: 0px 10px 20px var(--mainColorShadow);
}
.edubarMainNoSkin > * > * {
    background-color: var(--dark) !important;
    color: var(--fontwhite) !important;
}
.edubarRibbon {
    background-color: var(--dark) !important;
    color: var(--fontwhite) !important;
}
.zteFilterForm > * {
    background-color: var(--dark2);
}
.zsvHeaderTabs {
    background-color: var(--dark);
    color: var(--fontwhite);
}
.edubarMainNoSkin {
    background-color: var(--dark) !important;
    color: var(--fontwhite) !important;
}
tbody > * {
    background-color: var(--dark) !important;
    color: var(--fontwhite);
}
.fixedCell {
    background-color: var(--dark2);
    color: var(--fontwhite);
}
table.znamkyTable tr.row1 .fixedCell, table.znamkyTable tr.row2 .fixedCell, table.znamkyTable tr.selected .fixedCell, table.znamkyTable tr.hovered .fixedCell {
    background-color: var(--dark);
    color: var(--fontwhite);
    transition: 0.2s;
}
table.znamkyTable tr.row1:hover .fixedCell, table.znamkyTable tr.row2:hover .fixedCell, table.znamkyTable tr.selected .fixedCell, table.znamkyTable tr.hovered .fixedCell {
    background-color: var(--mainColorShadow);
    color: var(--fontwhite);
}
tr,td {
    border: 0.1px solid var(--mainColorShadow) !important;
    color: var(--fontwhite) !important;
}
span[style="color:;"] {
    color: var(--fontwhite);
}
.priemer-tips {
    color: var(--fontwhite) !important;
}
span[style="color:#000000"] {
    color: var(--fontwhite) !important;
}
span.item {
    color: var(--fontwhite) !important;
}
.ui-dialog.ui-widget-content {
    background-color: var(--dark2) !important;
    color: var(--fontwhite) !important;
    padding-bottom: 0px;
}
.ui-widget-content {
    background-color: var(--dark) !important;
    color: var(--fontwhite) !important;
}
div[style="background-color: rgb(255, 255, 255)"] {
    background-color: var(--dark) !important;
    color: var(--fontwhite) !important;
}
.ui-dialog-content > * {
    background-color: var(--dark) !important;
    color: var(--fontwhite) !important;
    padding: 11px;
}
.ui-dialog-buttonset {
    padding-bottom: 10px;
}
.ui-widget-overlay.ui-front {
    background-color: var(--dark2);
    opacity: 0.75 !important;
}
.edubarstart-tab-help {
    background-color: var(--dark2);
    color: var(--fontwhite) !important;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 300px;
}
.znNew {
    background-color: 	rgba(128, 0, 255, 0.1);
}
.bg-level-2-page-width-container {
    background-color: var(--dark);
}
#kids_header {
    background-color: var(--dark2);
    color: var(--fontwhite) !important;
}
.kids_logo_text {
    color: var(--fontwhite) !important;
}
.sideMenu {
    background-color: var(--dark2);
}
div[style="background-color: rgba(134,78,53,1)"] {
    background-color: var(--dark2);
    color: var(--fontwhite) !important;
}
.skinTemplateMainDiv {
    color: var(--fontwhite) !important;
}
div[style="overflow: auto; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-family: sans-serif; flex: 1 1 0px; min-width: 100px;"] {
    background-color: var(--dark) !important;
    color: var(--fontwhite) !important;
}
div[style="display: flex; flex-direction: row; align-items: stretch; height: 45px;"] > * > * {
    background-color: var(--dark) !important;
    color: var(--fontwhite) !important;
}
div[style="display: flex; flex-direction: row; align-items: stretch; height: 550px;"] > * {
    background-color: var(--dark) !important;
    color: var(--fontwhite) !important;
}
.signin-table-content {
    background-color: var(--dark2);
}
.signin-home-card {
    background: var(--dark2);
}    
.signin-home-card:hover {
    transform: scale(1.05);
    background-color: var(--dark);
    box-shadow: 0px 0px 10px var(--dark2);
}
.etest-meditor-searchdiv {
    background-color: var(--dark) !important;
    color: var(--fontwhite) !important;
}
.etest-cselector-title.selected, .etest-cselector-l0-nezaradene.checked > .etest-cselector-title, .etest-cselector-l2-item.checked > .etest-cselector-title {
    background-color: var(--mainColorShadow);
}
.etest-meditor-search-results {
    background-color: var(--dark2);
}
.etest-cselector-l0-title:hover, .etest-cselector-l1-title:hover, .etest-cselector-l2-title:hover {
    background-color: var(--mainColorShadow);
    cursor: pointer;
}
.etest-ctreeselector-searchdiv .etest-cselector-searchbox {
    background-color: var(--mainColor) !important;
    color: var(--fontwhite) !important;
}
.edubarRibbon .ribbon-tab, .edubarRibbon .asc-ribbon {
    background: var(--mainColorShadow);
    color: var(--fontwhite);
}
.selected {
    background-color: var(--dark2) !important;
    color: var(--fontwhite) !important;
}
.hwSuperid .hwDetails {
    background-color: var(--dark);
    color: var(--fontwhite);
    border-bottom: #1a7fad;
}
.etest-studentVysledkyElem, .hwAkcie, .hwPoznamka {
    background-color: var(--dark);
    color: var(--fontwhite);
}
.etest-screen-inner {
    background-color: var(--dark2);
    color: var(--fontwhite);
}
.etest-question-content {
    background-color: var(--dark2);
}
textarea {
    color: var(--fontwhite);
    background-color: var(--dark2);
}
.etest-elaboration-title {
    color: var(--dark2);
}
.etest-player-restore-answers-msg {
    background-color: var(--mainColorShadow);
}
.etest-player-header-inner {
    color: var(--fontwhite) !important;
    background-color: var(--dark2) !important;
}
.ui-datepicker-header {
    color: var(--fontwhite) !important;
    background-color: var(--dark2) !important;
}
.ui-icon-circle-triangle-w, .ui-icon-circle-triangle-e {
    filter: invert(1);
}
.helpq-inner {
    background-color: var(--dark2);
}
ul.accountBoxes > li {
    background: var(--dark);
    transition: 0.2s;
}
ul.accountBoxes > li:hover {
    background: var(--dark2);
}
.hwHeroDiv {
    padding: 30px 15px 20px 85px;
    background-color: var(--mainColorShadow);
    color: var(--fontwhite);
}
.button-title {
    color: var(--fontwhite) !important;
}
.edubarRibbon .ribbon-button:hover, .edubarRibbon .ribbon-button.sel, .edubarRibbon .asc-ribbon-button:hover, .edubarRibbon .asc-ribbon-button.menu-shown, .edubarRibbon .asc-ribbon-button.selected, .edubarRibbon .asc-ribbon-button.enabled:hover, .edubarRibbon .asc-ribbon-button.enabled.menu:hover {
    border: 1px solid var(--dark2);
    background-color: var(--dark);
}
.dropDown {
    background-color: var(--dark2);
    color: var(--fontwhite);
}
.dropDownPanel > ul > li > a:hover, .dropDownPanel > li > a:hover, .dropDownMenu > li > a:hover {
    background-color: var(--dark);
    border-top: 1px solid var(--mainColorShadow);
    border-bottom: 1px solid var(--mainColorShadow);
}
.ui-datepicker-orbit .ui-datepicker-calendar .ui-state-hover, .ui-datepicker-orbit .ui-datepicker-calendar td:hover a {
    background: var(--mainColorShadow);
}
#bar_chatPanel > * > * > *, .chatTitle {
    background-color: var(--dark);
    color: var(--fontwhite) !important;
}
.chatFooter {
    background-color: var(--dark);
}
input[type="text"] {
    background-color: var(--dark);
    color: var(--fontwhite);
}
.chatSpravyList, .textInput {
    background-color: var(--dark);
    color: var(--fontwhite);
}
.ecourse-standards-subjects-list {
    background-color: var(--dark);
    color: var(--fontwhite);
}
.ecourse-standards-subject-item {
    background-color: var(--dark2);
    color: var(--fontwhite);
}
.ecourse-standards-filter-outer {
    height: 32px;
    background-color: var(--dark2);
    color: var(--fontwhite);
}
.ecourse-standards-showmore {
    background-color: var(--dark2);
    color: var(--fontwhite);
}
.ecourse-standards-showmore {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: var(--dark);
}
.etest-meditor-content {
    background-color: var(--dark) !important;
}
.asc-ribbon {
    background-color: var(--dark2);
    color: var(--fontwhite);
}
.asc-ribbon-button:not(.disabled):hover, .asc-ribbon-button.selected, .asc-ribbon-button.tmp-selected, .asc-ribbon-button.disabled.selected, .asc-ribbon-title.selected {
    border: 1px solid var(--dark2);
    background-color: var(--mainColorShadow);
}
td[style="background-color: rgb(202, 238, 215); opacity: 0.5;"] {
    background-color: var(--dark2);
}
.dash_dochadzka > * {
    background-color: var(--dark2);
    color: var(--fontwhite);
}
tr.fixed {
    background-color: var(--mainColorShadow);
    color: var(--fontwhite);
}
td[style="border: 1px solid rgb(204, 204, 204); cursor: auto; font-size: 1em;"] {
    background-color: var(--dark);
}
tr td {
    background-color: var(--dark) !important;
}
.dash_dochadzka.ziak td.ospravedlnenka a:nth-child(2n+1), .dash_dochadzka td.ospravedlnenka {
    background-color: var(--mainColorShadow);
}
html {
    background-color: var(--dark);
}
.noticeboardItems-inner {
    background-color: var(--dark2);
}
.noticeboardItem {
    background-color: var(--dark) !important;
}
.tmc-mainDiv {
    background-color: var(--dark);
}
.timeline-box {
    background-color: var(--dark2);
    color: var(--fontwhite);
}
.gotoDay {
    background-color: var(--dark) !important;
    color: var(--fontwhite) !important;
}
.profilemenu {
    background: var(--dark);
}