@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --dark: #242331;
    --dark2: #171620;
    --fontwhite: #dee0e6;
    --mainColor: rgb(71, 170, 245);
    --mainColorShadow: 	hsla(205, 57%, 25%, 0.342);
    --mainColor2: rgb(125, 89, 255);
}
body {
    font-family: 'PT Sans', sans-serif;
    background-color: var(--dark2);
    color: var(--fontwhite);
    text-align: center;
    font-size: 110%;
}
.colorful {
    background: var(--mainColor);
    background: linear-gradient(90deg, var(--mainColor) 0%, var(--mainColor2) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% auto;
}
header {
    font-size: 130%;
}
main {
    width: 80%;
    margin: 0% 10% 10% 10%;
}
img {
    min-width: 440px;
    border-radius: 1em;
    box-shadow: 5px 5px 20px var(--mainColorShadow);
}
a {
    color: var(--mainColor);
}
pre {
    padding: 10px;
    background-color: var(--dark);
    display: inline-block;
    border-radius: 0.4em;
}